
<!-- Previous folder to be deleted but i commented it out instead. This is so i can remember and know what the normal nav looks like till i get used to the nev pattern -->
<!-- <nav>
    <ul>
        <li>Home</li>
        <li>Custom</li>
        <li>Sedan</li>
        <li>SUV</li>
        <li>Truck</li>
    </ul>
</nav> -->

<!-- Edited Navigation -->
 <nav>
    <%- nav %>
 </nav>