/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  display: grid;

}
header {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

#top-header {
  font-size:xx-large;
}

#tools{
  font-size: small;
}

nav ul{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  list-style-type:none;
  background-color: black;
  padding: 7px;
  gap: 2rem;
  justify-content: center;
}

nav ul li {
  color: white;
}

.hero {
  position: relative;
}

.description {
  position:absolute;
  top: 10%;
  color: rgb(8, 209, 235);
  background-color:rgba(255, 255, 255, 0.895);
}

.car-description {
  position: absolute;
  top:30%;
  color: rgb(8, 209, 235);
  background-color: #ffffffe4;
}

.hero a{
  color: black;
  background-color: rgb(8, 209, 235);
  padding: 1px;
}

.hero img {
  width:100%;
  height: auto;
  object-fit: cover;
  max-height: 300px;
}

ul li{
  color: black;
  margin: auto;
}

.car-specs {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.upgrades-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  

}

.image-card {
  padding: 15px;
  text-align: center;
  position: relative;
  text-align: center;
}
 
.image-card a {
  position: static;
  display: block;
  margin-top: 10px;
}
/*
.image-card img {
  background-color: rgb(8, 209, 235);
  aspect-ratio: 2/1;
  max-width: 100%;
  padding: 20px;
  margin: 30px;
  text-align: center;
} */

.image-box {
  background-color: rgb(8, 209, 235);
  aspect-ratio: 2 / 1;
  display: flex;
  align-items: center;
  justify-content: center;

}

.image-box img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}


@media (min-width:700px) {
.car-specs {
  grid-template-columns: 1fr 1fr;
  align-items: start;
}
}