/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  display: grid;
  padding: 2rem;
}
header {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

#top-header {
  font-size:xx-large;
  text-decoration: solid;
}

.siteName a {
  color: black;
  text-decoration: solid;
}

.siteName a:hover {
  color: rgb(2, 123, 139);
  text-decoration: underline;
}

#tools a{
  font-size: large;
  color: black;
  text-decoration: solid;
}

#tools a:hover {
  text-decoration: underline;
  color: rgb(2, 123, 139);
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
  color: #b00020;
}

nav ul{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  list-style-type:none;
  background-color: black;
  padding: 7px;
  gap: 2rem;
  justify-content: center;
}

.hero {
  position: relative;
}

.description {
  position:absolute;
  top: 10%;
  color: rgb(8, 209, 235);
  background-color:rgba(255, 255, 255, 0.895);
}

.car-description {
  position: absolute;
  top:30%;
  color: rgb(8, 209, 235);
  background-color: #ffffffe4;
}

.hero a{
  color: black;
  background-color: rgb(8, 209, 235);
  padding: 1px;
}

.hero img {
  width:100%;
  height: auto;
  object-fit: cover;
  max-height: 300px;
}

ul li{
  color: black;
  margin: auto;
}

.car-specs {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.upgrades-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  

}

.image-card {
  padding: 15px;
  text-align: center;
  position: relative;
  text-align: center;
}
 
.image-card a {
  position: static;
  display: block;
  margin-top: 10px;
}
/*
.image-card img {
  background-color: rgb(8, 209, 235);
  aspect-ratio: 2/1;
  max-width: 100%;
  padding: 20px;
  margin: 30px;
  text-align: center;
} */

.image-box {
  background-color: rgb(8, 209, 235);
  aspect-ratio: 2 / 1;
  display: flex;
  align-items: center;
  justify-content: center;

}

.image-box img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}


.vehicle-detail {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem;
}

.vehicle-image img {
  width: 100%;
  height: auto;
}


h2 {
  background-color: rgb(8, 209, 235);
  padding: 10px;
}

.vehicle-info p {
  background-color: rgb(216, 216, 216);
}

footer a{
  font-size: large;
  color: #f7f7f7;
  background-color: #1c0106;
}



 /* Error Page Styling */

.error-page {
  max-width: 700px;
  margin: 4rem auto;
  padding: 2rem;
  text-align: center;
  background-color: #f7f7f7;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.error-page h1 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  color: #b00020;
}

.error-message {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.error-home-link {
  display: inline-block;
  padding: 0.7rem 1.4rem;
  background-color: rgb(8, 209, 235);
  color: #000;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 600;
}

.error-home-link:hover {
  background-color: rgb(6, 170, 195);
}

@media (min-width:700px) {
  .car-specs{
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }

  .vehicle-detail {
    /* display: flex;
    flex-flow: row; */
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .vehicle-image img{
    width: 100%;
    height: auto;
  }
}