<!-- this line uses a EJS code block to contain a JavaScript if structure to determine if a "title" variable exist -->
<% if (title) { %> 
    <!-- if the variable exists, it is displayed within an <h1> element.
 -->
    <h1>
        <%= title %>
    </h1>

    <!-- this else structure redirects the response object to the default index route, to deliver the home view. -->
    <% } else { res.redirect('/') } %>

<%# messages() %>

<%- grid %>