
<h1>
    <%= title %>
</h1>

<!-- Flash message -->
 <%- messages() %>

<!-- Links to deliver new classification and add new inventory -->
<a href="/inv/add-classification">Add New Classification</a>
<a href="/inv/add-inventory">Add New Inventory</a>