<section class="error-page">
    <h1>
        <%= title %>
    </h1>

    <p class="error-message">
        <%- message %>
    </p>

    <p>Looks like this page took a coffee break and forgot to come back.</p>

    <a href="/" class="error-home-link">Return Home</a>
</section>